# Archivos del sistema
.DS_Store
Thumbs.db

# Configuración de editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Dependencias locales
node_modules/

# Logs y temporales
*.log
*.tmp
*.temp
